[Unit]
Description=gunicorn instance to server api
After=network.target

[Service]
User=Alan
Group=Alan
WorkingDirectory=/home/Alan/app/src/backend/
Environment="PATH=/home/Alan/app/venv/bin"
EnvironmentFile=/home/Alan/.env
ExecStart=/home/Alan/app/venv/bin/gunicorn -w 2 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target