:root {
    --primary-color: #16588E;
    --secondary-color: #81C4FF;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #4267B2;
    --google-color: #DB4437;
    --twitter-color: #1DA1F2;
    --insta-color: #E1306C;
}

.ExamForm{
    background-color: var(--secondary-color);
}
.ExamForm1{
    background-color: var(--twitter-color);
    border: 3px solid black;
    border-radius: 10px;
}

.ExamForm2{
    padding: 10px;
    margin: 20px;
    background-color: var(--twitter-color);
    border: 2px solid black;
    border-radius: 10px;
}

.ans1{
    width: 1000px;
    height: 140px;
    border: 1px solid black;
    border-radius: 5px;
}

.button1{
    border: 2px solid black;
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button2{
    border: 1px solid black;
}

.input-box{
    background: rgba(255,255,255,0.7);
    border: 1px solid black;
    border-radius: 5px;
}


