:root {
    --primary-color: #81C4FF;
    --secondary-color: #ffffff;
    --black: #000000;
    --white: #ffffff;
    --gray: #efefef;
    --gray-2: #757575;

    --facebook-color: #81C4FF;
    --google-color: #DB4437;
    --twitter-color: #81C4FF;
    --insta-color: #E1306C;
    --button-color: #AD33AF;
}

.ExamForm{
    background-color: var(--secondary-color);
}
.examForm{
    background-color: var(--twitter-color);
    border: 3px solid black;
    border-radius: 10px;
}

.dynamicForm{
    padding: 10px;
    margin: 20px;
    background-color: var(--twitter-color);
    border: 2px solid black;
    border-radius: 10px;
}


.longButton{
    width: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3px;
    border-radius: 50px;
    height: 40px;
}

.button2{
    border: 1px solid black;
    border-radius: 50px;
}

.button3{
    border: 1px solid black;
    justify-content: end;    
}

.input-box{
    background: rgba(255,255,255,0.7);
    border: 1px solid black;
    border-radius: 5px;
    width: 18vw;   
}
.input-box::placeholder{
    color: #000000;
}

.key-box{
    background: rgba(255,255,255,0.7);
    width: 78vw;
    height: 20vh;
    border: 1px solid black;
    border-radius: 5px;
}

.number-box{
    background: rgba(255,255,255,0.7);
    border: 1px solid black;
    border-radius: 5px;
    width: 5vw;
}

.qstn-box{
    background: rgba(255,255,255,0.7);
    border: 1px solid black;
    border-radius: 5px;
    width: 70vw;
}



